.col-3{
height: 1000px;
background-color: rgb(197, 200, 204);
padding-left: 250px;
    font-family: 'Lora', serif;
}
.child{
    background-color: aliceblue;
    height: 980px;
    width: 250px;
}
#moreinfo{
    padding-top: 70px;
}

#moreinfo1{
    padding-top: 68px;
}
#moreinfo2{
    padding-top: 79px;
}
#moreinfo3{
    padding-top: 40px;
}
#details{
    padding-top: 30px;
    padding-left: 10px;
}

#bio{

    font-family: 'Lora', serif;
    padding-left: 10px;
    padding-right: 45px;
}
.col-2{
    height: 1000px;
background-color: rgb(197, 200, 204);
padding-left: 250px;
    font-family: 'Lora', serif;

}
.col-1{
    height: 1000px;
    background-color: rgb(197, 200, 204);
    padding-left: 250px;
        font-family: 'Lora', serif;
}
.line{
    height: 6px;
    background-color: rgb(5, 5, 5)45;
    width: 200px;
    margin: auto;
}
#pi{
    text-align: justify;
} /* 
  padding-right: 50px;
    padding-left: 10px;
}*/
#p1{
    padding-left: 20px;
}
#p2{
    padding-left: 20px;

}